# Jupiter Notebooks 
notebook

# Data Manipulation
pandas
numpy

# API and Web Scraping
requests
beautifulsoup4

# SQL Analysis
sqlalchemy==1.3.9 # version needed for compatibility
ipython-sql
prettytable

# Visualization
matplotlib
seaborn
folium
plotly

# Machine Learning
scikit-learn
